html{
    background-color: #b8ddff; 
}
h1, p {
    text-align: center;
}
ul, img{
    display: block;
    margin: 0 auto;
    width: 240px;
    border: 1px solid black;
}

div{
    text-align: center;
    width: 80vw;
}
p {
    color: #dd0000;
}