html{
    background-color: #b8ddff; 
}
h1, p {
    text-align: center;
}
img, ul{
    display: block;
    margin: 0 auto;
}

#image-vw{
    width: 50vw;
}
p {
    color: #dd0000;
}
ul{
    width: 240px;
    border: 1px solid black;
}