html{
    background-color: #b8ddff; 
}
h1, p {
    text-align: center;
}
ul{
    display: block;
    margin: 0 auto;
    width: 240px;
    border: 1px solid black;
}

#image img{
    width: 50vw;
    height: auto;
}
p {
    color: #dd0000;
}